@import "tailwindcss";

@theme {
  --color-background: var(--bg);
  --color-foreground: var(--black);
}

:root {
  --bg: #FDFD96;
  --surface: #FFFFFF;
  --accent-primary: #FF4D00;
  --accent-secondary: #0000FF;
  --black: #000000;
  --success: #00C853;
  --error: #FF0000;
}

* {
  border-radius: 0 !important;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--black);
}

.brutal-card {
  background: var(--surface);
  border: 3px solid var(--black);
  box-shadow: 4px 4px 0 var(--black);
}

.brutal-btn {
  border: 3px solid var(--black);
  box-shadow: 4px 4px 0 var(--black);
  transition: all 100ms;
  cursor: pointer;
}

.brutal-btn:hover {
  box-shadow: 6px 6px 0 var(--black);
  transform: translate(-2px, -2px);
}

.brutal-btn:active {
  box-shadow: 0px 0px 0 var(--black);
  transform: translate(4px, 4px);
}
